anypoint-examples-3.8/upload-to-ftp-after-converting-json-to-xml/src/test/resources/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    MuleSoft Examples
    Copyright 2014 MuleSoft, Inc.

    This product includes software developed at
    MuleSoft, Inc. (http://www.mulesoft.com/).

-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customers" type="customersType"/>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstname"/>
      <xs:element type="xs:string" name="surname"/>
      <xs:element type="xs:string" name="phone-number"/>
      <xs:element type="xs:string" name="date-of-birth"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customersType">
    <xs:sequence>
      <xs:element type="customerType" name="customer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>